@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
:root {
  --mobile: 375px;
  --desktop: 1440px;
  /* Colors primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral colors */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  /* Typography */
  --font-size: 15px;
  --font-family: "Poppins", sans-serif;
}

* {
  box-sizing: Border-box;
  font-family: var(--font-family);
  color: var(--grayish-blue);
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
}
.darker-text {
  color: var(--very-dark-blue);
}
.p-text {
  font-size: var(--font-size);
}
